anaconda-navigator==2.3.1
anaconda-project==0.11.1
annoy==1.17.1
astropy==5.1
autopep8==1.6.0
bitarray==2.5.1
bkcharts==0.2
blackbricks==2.0.0
boto3==1.24.28
bottleneck==1.3.5
brotlipy==0.7.0
comtypes==1.1.10
conda-build==3.22.0
conda-repo-cli==1.0.24
conda-token==0.4.0
conda-verify==3.4.2
cython==0.29.32
cytoolz==0.12.0
datashader==0.14.3
distributed==2022.5.0
einops==0.6.0
email-validator==1.3.0
evaluate==0.4.0
flake8==4.0.1
flask==1.1.2
flit-core==3.6.0
gensim==4.1.2
grpcio-tools==1.51.1
higher==0.2.1
httptools==0.5.0
httpx==0.23.3
hvplot==0.8.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
imagecodecs==2021.8.26
install==1.3.5
intake==0.6.6
ipyleaflet==0.17.2
ipython-autotime==0.3.1
jdcal==1.4.1
jupyter==1.0.0
jupyterlab==3.5.0
learn2learn==0.1.7
lightning==1.8.6
lz4==3.1.3
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
munkres==1.1.4
navigator-updater==0.3.0
netcdf4==1.6.2
nltk==3.7
nn-template-core==0.2.0
nncore==0.3.6
nose==1.3.7
odc-stac==0.3.5
olefile==0.46
opencv-python==4.7.0.68
openpyxl==3.0.10
pefile==2022.5.30
pep8==1.7.1
pip-chill==1.0.1
planetary-computer==0.4.9
plotly-express==0.4.1
pre-commit==2.20.0
pycurl==7.45.1
pydeprecate==0.3.2
pydocstyle==6.1.1
pyhamcrest==2.0.2
pyodbc==4.0.34
pyrootutils==1.0.4
pysocks==1.7.1
pyspark==3.3.2
pytest==7.1.2
python-multipart==0.0.5
python-snappy==0.6.1
rope==0.22.0
ruamel-yaml-conda==0.17.21
scikit-image==0.19.3
scikit-learn-intelex==2021.20220215.102710
scrapy==2.6.2
seaborn==0.12.1
shellingham==1.5.0.post1
sip==4.19.13
snfpy==0.2.2
sortedcollections==2.1.0
spyder==5.2.2
sympy==1.11.1
tables==3.6.1
tbb==0.2
tensorflow-intel==2.11.0
tensorflow-text==2.10.0
torchaudio==0.9.1
torchmeta==1.8.0
transformers==4.25.1
umap-learn==0.5.3
unidecode==1.2.0
uvicorn==0.20.0
watchfiles==0.18.1
websockets==10.4
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
xgboost==1.7.3
xlrd==2.0.1
xlsxwriter==3.0.3
xlwings==0.27.15
yapf==0.31.0
